.headerDesktop {
  border: none;
  background-color: transparent;

.navDesktop {
  padding-top: 60px;
  margin: 0px 100px 0px 200px;

  display: flex;
  justify-content: space-around;
  align-items: stretch;

 .logoDesktop {
    width: 130%;
    cursor: pointer;
  }
  
  .list {
    ul {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
    gap: 30px;
  
    list-style: none;
    font-weight: var(--text-weight400);
    font-size: 20px;
    
    li {
      &:hover {
        cursor: pointer;
        filter: brightness(0.9);
      }
    }
  }
}

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 20px;
    padding: 10px 40px;
    border: 1px solid var(--button);
    border-radius: 5px;

    background: transparent;
    color: var(--text-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
     background-color: #9466ff;
    }
  }
}
}