main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%; 
  
  // Background de baixo
  background-image: url(../../assets/blur-1.png);
  background-position-y: bottom;
  background-repeat: no-repeat;


  @media(max-width: 720px){
    height: 100vh; 
      
    background-image: url(../../assets/blur-mobile.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
    
    padding-bottom: 60px;
    
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: var(--text-weight400);
    font-size: 30px;
    text-align: center;
    margin: 0px 70px 50px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 30px;
    border: 1px solid var(--button);
    border-radius: 5px;

    background: transparent;
    color: var(--text-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.2s;

    img {
      padding-left: 10px;
    }

    &:hover {
     background-color: #000;
    }
  }
  
  .greatCoffee {
    font-weight: var(--text-weight700);
    font-size: 95px;
    text-align: center;
    padding: 70px 65px 0px;

    @media(max-width: 720px) {
      font-weight: var(--text-weight700);
      font-size: 35px;
      text-align: center;
      padding: 70px 65px 0px;
    }
  }

  .shadowTitle {

    font-weight: var(--text-weight700);
    font-size: 85px;
    text-align: center;
    color: var(--background);
  
    text-shadow: -1px -1px 0 var(--button),
     1px -1px 0 var(--button),
    -1px 1px 0 var(--button),
     1px 1px 0 var(--button);


    @media(max-width: 720px){
      font-weight: var(--text-weight700);
      font-size: 35px;
      text-align: center;
      color: rgb(16, 16, 16);
    
      text-shadow: -1px -1px 0 var(--button),
       1px -1px 0 var(--button),
      -1px 1px 0 var(--button),
       1px 1px 0 var(--button);
    }
  }
  
  .coffeeIllustrationDesktop {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-top: 200px; 
  }
    
    @media(max-width: 720px) {
    .coffeeIlustrationMobile {
      display: flex;
      justify-content: center;
      align-items: center;
  
      position: absolute;
      margin: 30px 0px 30px;
      width: 90vw;
    }
  }
}