main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100vh;   

  background-image: url(../../assets/blur-mobile.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  
  padding-bottom: 40px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: var(--text-weight400);
    font-size: 30px;
    text-align: center;
    margin: 0px 70px 50px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 30px;
    border: 1px solid var(--button);
    border-radius: 5px;

    background: transparent;
    color: var(--text-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.2s;

    img {
      padding-left: 10px;
    }

    &:hover {
     background-color: #000;
    }
  }
  
  .greatCoffee {
    font-weight: var(--text-weight700);
    font-size: 35px;
    text-align: center;
    padding: 70px 65px 0px;
  }

  .shadowTitle {
  font-weight: var(--text-weight700);
  font-size: 35px;
  text-align: center;
  color: rgb(16, 16, 16);

  text-shadow: -1px -1px 0 var(--button),
   1px -1px 0 var(--button),
  -1px 1px 0 var(--button),
   1px 1px 0 var(--button);
  }
  
  .CoffeeIllustration {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    margin: 40px 0px 30px;
    width: 90vw;
  }

}